/*
	
	project: FRSASIR	
	author: FernandoRoca 
	IES MAESTRE de Calatrava 2ASIR
	
	
	*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}img{border:0} 
	*/

body { 
	font: .74em Sans-Serif; 
	color: #444; 
	background: #008080;   
	line-height: 1.6em; 
	}

a { 
	text-decoration: none; 
	color: #008080; 
	}

p  { 
	margin: 0 0 15px; 
	}
/* */
	/*columna del centro */
.wrap { 
	margin: 0 auto; 
	width: 80%; 
	}
	
#header { /*fondo cabecera */
	height: 50px; 
	background: #080808 url(../images/bg.jpg) no-repeat center top; 
	color: #ccc; 
	margin: 10px 0px; 
	}

#header p { 
	float: right; 
	margin: 20px;
	}

	
#logotext { /*texto principal */
	float: right ; 
	margin: 10px 0px 0px; 
	color: #fff; 
	letter-spacing: .2em; 
	font-size: 1.9em; 
	}

#logotext a { /*color letra texto principal */
	color: #fff; 
	}


h1 { 
	font-size: 1.4em; 
	text-shadow: 1px 1px 1px #080808; 
	margin: 10px; 
	color: #fff; 
	}

h2 { 
	font-size: 1.4em; 
	text-shadow: 1px 1px 1px #000400; 
	margin: 10px; 
	color: #fff; 
	}

h3 { 
	font-size: 1.2em; 
	margin: 6px; 
	}

#menu { 
	
	padding: 10px 10px 10px 0px;

	/*clear: inline-start; */
	}

#menu li { 
	display: inline ; 
	font-size: 1.2em;
 	}

#menu li a { 
	float: center; 
	padding: 10px 20px 20px 10px; 
	margin: 20px 10px 20px 5px ; 
	color: #ddd; 
	border-right: 1px solid #008080;
	}
	 
#menu li.last a { 
	border: 0px; 
	padding: 0px; 
	}

#menu li a:hover { 
	color: #fff;
	}

#menu li a.current { 
	font-weight: bold;
	 color: #fff; 
	}

#main { 
	clear: both; 
	float: center; 
	width: 200px;
	height: 20px; 
	}

#maestre { 
	height: 100px; 
	width: 200px;  
	color: #fff; 
/*	margin: 0 0 0px; */
	float: left;
	}


.display { 
	float: left; 
	width: 800px;
	padding-right:15px;
 	}

.l img, .r img { 
	float: center; 
	margin: 0px 13px 5px 0px; 
	border: 2px solid #fff;
 	}

.line { 
	clear: both; 
	border-bottom: 1px dotted #ccc; 
	padding: 10px; 
	margin: 20px; 
	}

#side { 
	float: right; 
	width: 20%; 
	color: #fff; 
	background: #000810; 
	padding: 11px;
	margin: 0 0 20px; 
	margin-top:100px;
	border-top: 3px dotted #fff;
	border-bottom: 3px dotted #fff;
	border-left: 3px dotted #fff;
	border-right: 3px dotted #fff;
	}

#side a { 
	color: #444; 
	}

#side li { 
	padding: 0 0 10px; 
	}

#sido { 
	float: right; 
	width: 225px; 
	color: #808080; 
	background: #fff; 
	padding: 11px; 
	margin: 0 0 20px; 
	}
#sido a { 
	color: #444; 
	}

#sido li { 
	padding: 0 0 10px; 
}

#footer { 
	clear: both; 
	height: 80%; 
	padding-left: 10%; 
	color: rgb(255, 255, 255); 
	border-top: 1px dotted #ccc; 
	}

#footer ul { 
	float: left; 
	width: 140px; 
	}

#footer ul li { 
	padding: 0 0 3px; 
	}

#footer p { 
	float: right; 
	width: 400px; 
	text-align: right; 
	}

#formin {
	height: 100%; 
	padding-left: 5% ; 
	color: #080808; 
	border-top: 1px dotted #ccc; 
	background-color: #008080; 
}

#formin2 {
	height: 100%; 
	padding-left: 10% ; 
	color: #080808; 
	background-color: #008080; 
}


#botones {
	height: 100%; 
	padding-left: 10% ; 
	color: rgb(255, 255, 255); 
	border-top: 1px dotted #ccc;  
}

#botones1 {
	float: right ; 
	margin: 10px 0px 0px 5px; 
	color: #fff; 
	letter-spacing: .2em; 
	font-size: 1.9em; 
	}

#botones2 {
	float: right ; 
	padding-right: 10% ; 
	color: #fff; 
	letter-spacing: .2em; 
	font-size: 1.9em; 
	}

#nano {
	font-size: 4px;
}

.boton{
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:white;
	background:#008080;
	border:0px;
	width:80px;
	height:19px;
   }

   .botonayuda{
	float: right ;
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:white;
	background:#008080;
	border:0px;
	width:80px;
	height:19px;
   }

iframe {
	width: 100%;
	height:1200px;
}

#restart img { 
	height:5%; 
	width: 5%;
	float: right;
 	}

pre {
	color: #fff;	
    	}
